
.card-image{
    height: 200px;
}
.service-title{
    color: #f8a428;
    text-transform: uppercase;   
    
    
}
.main-card:hover{
   background-color: aliceblue;
}
@media screen and (max-width:990px) {
    .main-card{
        height: 540px;
    }
   
}