.logo-header{
    background-color: white;
    height: 100px;   
    padding: 25px 0px; 
    border-bottom: 1px solid #f8a428;
    box-shadow: 0px 2px 5px rgb(207, 201, 201);
    border-top: 1px solid #f8a428;
}
.logo-main{
    display: flex;
    justify-content: space-between;
   align-items: center;
    
}
.logo h1{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   letter-spacing: 1px;
   font-weight: 800;
   font-size: 35px;
   color: black;
}
.svg-icon{
    width: 35px;
    height: 35px;
    
}
.icon-head{
    display: flex;
    align-items: center;
}
.icon-about{
    margin-left: 10px;
}
.icon-about p{
    line-height: 20px;
    margin: 0;

}
.icon-title{
    color: #f8a428;
    font-weight: 500;
    font-size: 18px;   
}
.icon-adress{
    opacity: .7;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.sub-logo{
    color: #f8a428;
    font-weight: 800;
}
.get-btn{
    border: 2px solid #ff9a04;
    color: #f8a428;
    font-size: 18px;
    padding: 8px 12px;
    background-color: transparent;
    border-radius: 5px;

}