*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navigation{
    height: 50px;
    background-color: rgb(22, 22, 28);
}
.nav-item{
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 5px;
    height: 50px;
    width: 120px;   
    text-align: center;
    padding: 6px;   
    line-height: 35px;

}

