.form-header{
    width: 65%;
    border: 1px solid rgb(233, 164, 36);
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 10px 25px rgb(235, 165, 35);
    border-radius: 8px;

}
.sign-title{
    color: rgb(229, 153, 12);
    margin: 10px auto;
}
.navi{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}
.google img{
    width: 30px;
    height: 30;
}
hr{
    height: 10px ;
    background-color: rgb(12, 12, 64);
    padding: 3px;
}
.google-btn{
    background-color: rgb(223, 125, 14) ;
    border: none;
    width: 50%;
    text-align: center;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;

}